


<div class="cabecalhoCentralizado">
  <div class="imgMobile">
    <img src="../assets/imagem/menumobile.jpg">
  </div>
  
  <div class="imgPc">
    <img src="../assets/imagem/menupc.jpg">
  </div>
  Projeto Saúde e Nutrição<p>
  Vitiligo

</div>

<div class="titulo"> 
    <b>Biologia</b>
      <div class="subtTitulo">
        <p><b>Causas</b></p>
        <div class="corpo">
          O vitiligo é uma doença que afeta a pele, tendo como característica principal a descoloração ou perda de pigmentação 
          da pele, ficando com tom mais claro em diversas partes do corpo.Isso ocorre por alteração na produção de melanina e 
          que pela má produção de melanócitos que contem a proteína, tem uma descoloração da mesma, por essa falta de proteína.
          As razões pelo qual os melanócitos ficam insuficientes, se caracteriza pela células de defesa autoimunes, que atacam 
          o próprio organismos; por questões emocionais, psicológicas(estresse ,por exemplo faz com que as manchas progridam 
          mais rápido), que muitos profissionais estão associando a algum trauma forte  sofrido pelo indivíduo onde há a 
          Psicossomatização no corpo; ou até por acidentes intencionais ou não, de contato com substâncias químicas ,podendo 
          levar a morte dos melanócitos.Há também estudos que indicam que pode ser acometido por genética de familiares. Além disso 
          a exposição ao sol pode causar a doença em pessoas predispostas.

        </div>

        <p><b>Consequências</b></p>
        <div class="corpo">
          As consequências se evidencia principalmente pelas manchas pelo corpo , se tendo em vista que elas não coçam e 
          não doem, mas existem casos em que se sente  sensibilidade no local afetado, ou  queimaduras  em exposição sol 
          principalmente. Outro fator negativo, é a questão emocional, como a autoestima; podendo desencadear crises, 
          mais traumas, e transtornos, como Ansiedade e Depressão, sendo indicado sessões de terapias ou grupos de aceitação.

        </div>

        <p><b>Tratamentos</b></p>
        
        <p><b>Pomadas com corticóides</b><p>
          <div class="corpo">
            Pomadas contendo corticoides geralmente são mais afetivas quando as manchas na pele são percebidas no início 
            da doença apresentam crescimento lento e cobrem uma área pequena do corpo, sendo indicadas devido aos efeitos 
            imunosupressores e anti-inflamatórios dos corticoides.A aplicação das pomadas geralmente não é contínua, 
            podendo ser indicada em semanas  alteradas ou com interrupções de 2 dias a cada 5 dias de uso para evitar 
            efeitos colaterais como atrofia da pele e acne. Costuma sera primera opção para pacientes com despigmentação 
            em menos de 10% da superficie corporal. São precisos no mínimo três meses de tratamento para se notar algum resultado. 
          </div>

        <p><b>Cosméticos e tatuagens</b><p>
        <div class="corpo">
          Um dos tipos de tratamento é a aplicação de alguns cosméticos, como base e bronzer, assim como tatuagens 
          pode produzir pigmentação temporária ou permanente da pele e geralmente é indicada quando outras formas de 
          tratamento não são recomendadas ou não obtiveram resultados satisfatórios.
        </div>

        <p><b>Fototerapia</b></p>
        <div class="corpo">
          A fototerapia costuma ser o tratamento de escolha se houver muitas áreas de despigmentação ou manchas muito 
          grandes na pele, e também é recomendada se as manchas apresentarem crescimento muito acelerado. 
          Este tratamento envolve a exposição da pele à luz usando lasers ou lâmpadas para tratamentos especiais e 
          pode atingir as áreas do corpo mais afetadas pelo vitiligo. Em geral, várias sessões de fototerapia, cerca 
          de 2 a 3 vezes por semana, são necessárias antes que as resultados possam ser vistos.
        </div>
        
        <p><b>Cirurgia</b></p>
        <div class="corpo">
          A cirurgia geralmente é necessaria quando a área de despigmentação é pequena, tem menos crescimento 
          ou afeta áreas do corpo difíceis de repigmentar espontaneamente (como dorso dos dedos, testa e tornozelos). 
          A cirurgia ainda é uma opção quando a fototerapia usada a medicação é inútil. Também pode ser usado em conjunto 
          com este tratamento, se tanto a paciente quanto o médico sentirem necessidade. Em geral, a doença é recomendada 
          em pacientes estáveis pós-puberes (pelos ricos físicos e emocionais envolvidos).<p>
        </div>
      </div>
  
    <b>Química</b> 
    <div class="subtTitulo">
      <p><b>Medicamentos e fórmulas químicas</b><p>
        <b>Medicamentos orais</b>
        <div class="corpo">
          Alguns dos medicamentos usados são corticosteroides que, geralmente são utilizados quando a doença 
          está no início. Nestes casos pode ser indicado o uso de corticoide em baixas doses duas vezes na 
          semana por períodos que variam de 3 a 6 meses. Caso nenhuma resposta significativa seja vista em 3 meses, 
          geralmente o tratamento oral é suspenso.Os principais são dexametasona, betametasona e hidrocortisona. 
          Algumas medicações utilizadas no tratamento do Vitiligo, para repigmentação de diversas áreas são: 
          Metoxisaleno (Oxsoralen);
          Associações Fisioterapicas (Vitricomin).<p>
          
        <b>Outros tipos de tratamentos</b><p>
          A despigmentação completa com hidroquinona monobenzil ou metaquinol é uma última opção e costuma ser 
          reservada para os casos mais graves envolvendo mais de 50% do corpo e que não respondem a outros tratamentos. 
          A despigmentação é permanente, deixando o paciente muito vulnerável aos efeitos nocivos dos raios solares.

        </div>
      <p><b>Pomadas cremes</b>
        <div class="corpo">
          Existem cremes e pomadas que auxiliam no tratamento do vitiligo, tendo como função fazer 
          as manchas retornarem a cor natural. Podem ser utilizadas pomadas como: Imiquimod, Tracolimus 
          e pimecrolimus, que mostram bons resultados.
        </div>
      
        <p><b>Fórmulas Químicas</b>
          <div class="corpo">
            <ul>
              <li>Monobenzil da hidroquinona - C<span class="formula">13</span>H<span class="formula">12</span>O<span class="formula">2</span></li>
              <li>Mequinol- C<span class="formula">7</span>H<span class="formula">8</span>O<span class="formula">2</span> ou OH(C<span class="formula">6</span>H4)OCH<span class="formula">3</span></li>
              <li>Dexametasona -  C<span class="formula">22</span>H<span class="formula">29</span>FO<span class="formula">5</span></li>
              <li>Betamezona - C<span class="formula">22</span>H<span class="formula">29</span>FO<span class="formula">5</span></li>
              <li>Hidrocorisona - C<span class="formula">21</span>H<span class="formula">30</span>O<span class="formula">5</span></li>
              <li>Metoxisaleno (oxsoralen) - C<span class="formula">12</span>H<span class="formula">8</span>O<span class="formula">4</span></li>
              <li>Associações fitoterápicas (Vitricomin)</li>
              <li>Imiquimod - C<span class="formula">14</span>H<span class="formula">16</span>N<span class="formula">4</span></li>
              <li>Tracolimus - C<span class="formula">44</span>H<span class="formula">69</span>NO<span class="formula">12</span></li>
              <li>Pimecrolimus - C<span class="formula">43</span>H<span class="formula">68</span>CINO<span class="formula">11</span></li>
            </ul>
          </div>
    </div>  
      
    <b>Educação Física</b><p>

    <div class="corpo" style="margin-left: 2%;">
      Dificuldades sofridas por minorias sociais na prática de atividade física

      O Vitiligo não apresenta um público-alvo no desenvolvimento da própria, sendo comum ou propenso na faixa etária dos 30 anos 
      de idade, ou seja, qualquer um pode desenvolvê-la independente de suas características pessoais ou de vida No entanto, 
      se analisarmos a questão de qualidade de vida, poderia dizer que os pobres têm mais chances  de adquiri-la, por meio de 
      acidentes não  intencionais de substâncias químicas  por falta  de utensílios  do cotidiano  e/ou por questões  emocionais,  
      tais  como estresse ou má saúde  mental  devido  à falta  de qualidade de vida levadas  por essas pessoas Considerando  
      todos  os aspectos  do vitiligo que trazem  consequências negativas, podemos afirmar que  na prática  de exercícios 
      físicos em geral  não interfere em nada, apenas  em exercícios  expostos ao sol que podem  gerar queimaduras  mais graves 
      e dependendo  o estado  emocional  do indivíduo, no quesito auto estima   não  se deve fazer a prática de exercícios 
      em grupos de pessoas que não conhecem a  situação e que  podem piorar a situação pelo preconceito,  tanto pelo vitiligo 
      e tanto  pelas condições financeiras dessas pessoas.


    </div> 

    <b>Referências Bibliográficas</b><p>
    
      <div class="corpo" >
        <ul>
          <li>
            <a href="https://www.indice.eu/pt/medicamentos/DCI/search" target="_blank">https://www.indice.eu/pt/medicamentos/DCI/search</a>
          </li>
          <li>
            <a href="https://minutosaudavel.com.br/vitiligo/" target="_blank">
              https://minutosaudavel.com.br/vitiligo/
            </a>
          </li>
          <li>
            <a href="https://www.bing.com/search?q=tratamento+do+vitiligo&form=ANSPH1&refig=e2d078d47d304e54b0782659fcb9202b&pc=U531" target="_blank">
              https://www.bing.com/search?q=tratamento+do+vitiligo&form=ANSPH1&refig=e2d078d47d304e54b0782659fcb9202b&pc=U531
            </a>
          </li>
          <li>
            <a href="https://www.mdsaude.com/dermatologia/vitiligo/" target="_blank">
              https://www.mdsaude.com/dermatologia/vitiligo/
            </a>
          </li>
          <li>
            <a href="https://vidasaudavel.einstein.br/vitiligo/" target="_blank">
              https://vidasaudavel.einstein.br/vitiligo/
            </a>
          </li>
          <li>
            <a href="https://mundoeducacao.uol.com.br/doencas/vitiligo.htm" target="_blank">
              https://mundoeducacao.uol.com.br/doencas/vitiligo.htm
            </a>
          </li>
          <li>
            <a href="https://www.rededorsaoluiz.com.br/doencas/vitiligo" target="_blank">
              https://www.rededorsaoluiz.com.br/doencas/vitiligo
            </a>
          </li>
        </ul>
      </div>
    
    <!-- <b>Integrantes</b><p>
    
      <div class="corpo">
        <ul>
          <li>
            Beatriz Verri Bertazoli
          </li>
          <li>
            Giovanna Stecker Gracce
          </li>
          <li>
            Lívia Díniz
          </li>
          <li>
            Rhayane Santos Freitas
          </li>
        </ul>
      </div>   -->
 </div>
