.cabecalhoCentralizado{
    font-family: Arial, Helvetica, sans-serif;
    font-size:22px;    
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
}

.titulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 10%;
}

.subtTitulo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-left: 1.5%;
    padding-top: 5px;
}

.corpo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px; 
    text-align: justify;
    margin-right: 10%;
}

.formula{
    font-size: 9px;
}

ul{
    list-style-type: circle;
  }

img{
    width: 98%;
    position: relative;
 }


.imgMobile {
    display: block;
}

@media screen and (min-width:600px){
    .imgMobile {
        display:none;
    }
}


.imgPc {
    display: none;
}

@media screen and (min-width:600px){
    .imgPc {
        display:block;
    }
}




/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
